@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

#question{
  span{
    font-size: 3rem;
    padding: 10px;
  }
}

#gameBackground{
  height: 100vh;
  font-family: 'Ma Shan Zheng', cursive;

p{
  font-size: 2rem;
  text-align: center;
}
}
