<div class="container-fluid d-flex justify-content-center align-items-center" id="gameBackground">
  <!-- Gamae Card Start  -->
  <div class="bg-body-tertiary border rounded shadow p-md-4 p-2 w-50 game"
       [ngClass]="{'custom-background-color': isCardBackgroundColorChanged}">
    <div class="d-flex justify-content-between">
      <p (click)="changeBackgroundColor()" class="text-xl-start"><i class="fa-solid fa-palette"></i></p>
      <p (click)="goToHome()" class="text-xl-end"><i class="fa-solid fa-house"></i></p>
    </div>
    <div class="d-flex justify-content-between m-0 p-3" style="height: 50px;">
      <div class="d-flex text-center text-lg " >
        <div *ngFor="let heart of heartsArray; let i = index" class="mt-3">
          <i class="fa-solid fa-heart text-primary-emphasis"></i>
        </div>
      </div>

       <div class="w-50">
        <p class="text-center m-0 p-0" style="font-size: 0.9rem;">Star</p>

        <div class="progress w-100" role="progressbar" [style.width]="getProgressWidth()"  [attr.aria-valuenow]="getProgressValue()" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-warning progress-bar-striped" [style.width]="getProgressWidth()"
           [@stripeAnimation]="getProgressValue()" ></div>
        </div>
       </div>

      <div class="text-sm">
        <p >level :<span>{{level}}</span></p>
      </div>
    </div>
    <div id="question" class="text-center">
      <h1 class="fw-bolder text-info-emphasis">Question ?</h1>
      <span>{{ num1 }}</span>
      <span>{{ operator1 }}</span>
      <span>{{ num2 }}</span>
      <span>{{ operator2 }}</span>
      <span>{{ num3 }}</span>
      <span>=</span>
      <span>?</span>
    </div>
    <div style="height: 50px;">
      <p *ngIf="showWrongAnswerMessage" class="text-danger"> WRONG ANSWER</p>
    </div>
    <div class="d-flex justify-content-start">
      <p class="text-danger-emphasis">Choose Answer =</p>
    </div>
    <div [@increDecre]="answerOptions.length" class="d-flex flex-wrap justify-content-center">

      <div *ngFor="let option of answerOptions;let i=index;" class="m-2">
        <button (click)="checkAnswer(option,i)"
        [ngClass]="{'btn-incorrect': showWrongAnswerMessage && option !== correctAnswer && optionClickedIndex === i}"
         class="btn btn-outline-warning border border-warning-subtle rounded shadow fw-bolder fs-4" style="width: 80px; height: 50px">{{ option }}</button>
      </div>
    </div>
  </div>

  <!-- Game Card End  -->
</div>


<!-- Congrats Modal Box Start -->
<ng-template #congratsModal let-modal>
  <div class="modal-header ">
    <h4 class="modal-title custom-font">Congratulations!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    You answered correctly! Well done!
    You Got 5*
  </div>
  <div class="modal-footer mx-auto">
    <button type="button" class="btn btn-primary custom-font" (click)="continueGame()">Continue</button>
    <button type="button" class="btn btn-secondary  custom-font" (click)="goToHome()">Home</button>
  </div>
</ng-template>
<!-- Congrats Modal Box End -->


<!-- GameOver Modal box  -->
<ng-template #gameOverModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title custom-font fs-3">Game Over</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body custom-font text-center">
    You have run out of lives. Better luck next time!
  </div>
  <div class="modal-footer mx-auto">
    <button type="button" class="btn btn-primary custom-font" (click)="restartGame()">Restart</button>
    <button type="button" class="btn btn-secondary custom-font" (click)="goToHome()">Home</button>
  </div>
</ng-template>

<!-- GameOver Modal box  -->
