@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

#question{
  span{
    font-size: 3rem;
    padding: 10px;
    text-shadow: 2px 2px burlywood;
  }
}

#gameBackground{
  height: 100vh;
  font-family: 'Ma Shan Zheng', cursive;

p{
  font-size: 2rem;
  text-align: center;
}
}
.btn-incorrect {
  background-color: red;
}
@keyframes stripeAnimation {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.progress-bar {
  animation: stripeAnimation 10s linear infinite;
}
.custom-font{
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 1.5rem;

}
.custom-background-color {
  background-color: slategrey !important;

}
