/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../src/assets/image/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#background{
  height: 100vh;


}
#home div i{
  font-size: 2rem;
}
#home div span {
  width: 50px;
  height: 50px;
  margin: 1px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
